.App {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  .header {
    text-align: center;
    margin: 25px 10px 15px 10px;
    padding: 5px 10px;
    background-color: #272727;
    border-radius: 10px;
    color: white;
  }


  .thumbnail-container {
    list-style-type: none;
    display: flex;
    align-items: center;
    max-width: 100%;
    height: 160px;
    margin: 20px 5px;
    overflow-x: auto;
    overflow-y: hidden;
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
    li {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;
      height: 150px;
      margin: 0 5px;
      border-radius: 15px;
        img {
          padding: 5px;
          height: 100px;
          width: 100px;
          object-fit: cover;
          border-radius: 10px;
          &.active {
            background-color: orange;
          }
        }
        p {
          text-align: center;
          word-break: break-all;
        }
      }
    }

    .diaporama-image-container {
      position: relative;
      display: flex;
      justify-content: center;
      height: 100%;
      img {
        width: 100%;
        max-width: 400px;
      }
      .diaporama-image-button {
        position: absolute;
        top: 0;
        bottom: 0;
        width: 30%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        &.prev{
          left: -50px;
        }
        &.next{
          right: -50px;
          img {
            align-self: flex-end;
          }
        }
        img {
          display: none;
          cursor: pointer;
          width: 30px;
          height: 30px;
          object-fit: cover;
        }
        &:hover img {
          display: block;
        }
      }

    }
  }

  $width: 375px;
  @media (hover: none) {
  .App{
    .diaporama-image-container{
      button {
        display: none;
      }
      img {
        margin: 0;
      }
    }
  }
}