* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #e9e9e9;
  font-family:
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    'Roboto',
    'Oxygen',
    'Ubuntu',
    'Cantarell',
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family:
    source-code-pro,
    Menlo,
    Monaco,
    Consolas,
    'Courier New',
    monospace;
}

::-webkit-scrollbar {
  width: 6px;
  height: 3px;
}

::-webkit-scrollbar-track {
  background: inherit;
  border-left: 1px solid white;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(255, 166, 0, 0.632);
  border-radius: 7px;
  height: 50px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(255, 255, 255);
}
